[submodule "src/third_party/rapidjson"]
	path = src/third_party/rapidjson
	url = https://github.com/Tencent/rapidjson.git
[submodule "src/third_party/spdlog"]
	path = src/third_party/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "src/third_party/fmt"]
	path = src/third_party/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "src/third_party/sqlpp11"]
	path = src/third_party/sqlpp11
	url = https://github.com/rbock/sqlpp11.git
[submodule "src/third_party/sqlpp11-connector-sqlite3"]
	path = src/third_party/sqlpp11-connector-sqlite3
	url = https://github.com/rbock/sqlpp11-connector-sqlite3
[submodule "src/third_party/date"]
	path = src/third_party/date
	url = https://github.com/HowardHinnant/date.git
[submodule "src/third_party/sqlite_full"]
	path = src/third_party/sqlite_full
	url = https://github.com/sp-mishra/sqlite.git
[submodule "src/third_party/libpg_query"]
	path = src/third_party/libpg_query
	url = https://github.com/lfittl/libpg_query.git
[submodule "src/third_party/ejdb"]
	path = src/third_party/ejdb
	url = https://github.com/Softmotions/ejdb.git
[submodule "src/third_party/iowow"]
	path = src/third_party/iowow
	url = https://github.com/Softmotions/iowow.git
[submodule "src/third_party/whitedb"]
	path = src/third_party/whitedb
	url = https://github.com/priitj/whitedb.git
